{% extends "base.html" %}
{% load static %}


{% block head_block %}
    <title>Akatsuki - Home</title>

    <!-- Customize Styles for home page -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head_block %}

{% block context %}
    <section class="d-flex" id="home">
        <div class="container align-self-center">
            <div class="d-flex justify-content-center">
                <div id="carousel-home" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="text-center text-white">
                                <h1 class="">Seja bem-vindo!</h1>
                                <p class="slogan">
                                    Juntos criaremos um mundo melhor, um mundo sem dor, sem morte.<br>
                                    Um mundo só de vencedores.
                                </p>
                                <div class="">
                                    {% if not user.is_authenticated %}
                                        <a href="{% url 'accounts:login' %}" class="btn btn-danger">
                                            Conectar-se
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    {% endif %}
                                    <button class="btn btn-outline-dark">
                                        Usuários
                                        <i class="fas fa-users"></i>
                                    </button>
                                </div>    
                            </div>            
                        </div>

                        <div class="carousel-item">
                            <div class="text-center text-white">
                                <h1>Akatsuki</h1>
                                <p>
                                    Os ninjas mais procurados do mundo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="#carousel-home" class="carousel-control-prev" data-slide="prev">
                        <i class="fas fa-angle-left fa-3x"></i>
                    </a>

                    <a href="#carousel-home" class="carousel-control-next" data-slide="next">
                        <i class="fas fa-angle-right fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="informacoes">
        <div class="container">
          <div class="row">
            <div class="col-md-2 d-none d-md-flex justify-content-center" id="informacoes-menu">
              <div class="align-self-center">
                <h5 class="item-title" id="item-title">Navegação</h5>
  
                <ul>
                  <li class="item" onmouseover="itemName('Informações')" onmouseout="defaultName()">
                    <i class="fas fa-info"></i>
                  </li>
                  <li>
                    <span class="divisor"></span>
                  </li>
                  <li class="item" onmouseover="itemName('Membros')" onmouseout="defaultName()">
                    <i class="fas fa-users"></i>
                  </li>
                  <li>
                    <span class="divisor"></span>
                  </li>
                  <li class="item" onmouseover="itemName('Galeria')" onmouseout="defaultName()">
                    <i class="fas fa-camera"></i>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-10">
              <h3>Informações</h3>
              <div class="progress mb-4">
                <div class="progress-bar bg-danger"></div>
              </div>
  
              <div class="row">
                <div class="col-md-3">
                  <img src="{% static 'images/100508707_128876875474924_5206616169485697024_n.jpg' %}" class="img-fluid" title="Akatsuki">
                </div>
                <div class="col-md-7">
                  <p class="text">
                    <strong>Akatsuki</strong> era uma organização fictícia do mangá e anime Naruto que busca a paz,
                    mas que com o tempo acabou se tornando uma organização de mercenários. Foi apresentada durante
                    a primeira parte da série(Naruto), mas os seus membros foram sendo divulgados e ganhando importância 
                    como os principais antagonistas da série durante a segunda parte (Naruto: Shippũden). Essa organização
                    foi composta por dex ninjas exilados de suas vilas, os nukenins.
                    <a href="">Ler mais</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section id="fotos-recentes">
        <div class="container">
            <div class="">
                <h1 class="border-bottom">fotos recentes</h1>
                <p class="intro">
                    Aqui estão as fotos publicadas recentimente na nossa plataforma.
                </p>
            </div>
            <div class="row">
              {% for post in posts_recentes %}
                <div class="col-md-4 mt-5">
                    <div class="">
                        <figure class="item">
                            <img src="{{ post.image.thumbmnil.url }}" class="img-fluid">
                            <figcaption>
                              <button class="btn text-white">
                                <i class="fas fa-heart"></i>
                              </button>
                              <button class="btn text-white">
                                <i class="fas fa-share-square"></i>
                              </button>
                              <button class="btn text-white" data-toggle="modal" data-target="#{{ post.title_url }}">
                                <i class="fas fa-expand"></i>
                              </button>
                            </figcaption>
                        </figure>
                        <div class="item-info">
                            <h1>{{ post.user.get_full_name }}</h1>
                          <a href="" >@{{ post.user.username }}</a>
                          <div>
                            <i class="text-warning fas fa-users"></i>
                            {{ post.user.others_info.follows.count }}
                          </div>
                        </div>
                    </div>
                </div>
                <!-- Extra large modal -->

              <div class="modal fade" id="{{ post.title_url }}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content bg-dark">
                    <div class="row my-3">
                      <div class="col-md-8 border-right">
                        <figure class="item pl-3 pt-2">
                          <img src="{{ post.image.url }}" class="img-fluid">
                        </figure>
                      </div>
                      <div class="col-md-4">
                        <div class="container">
                          <div class="post-body">
                            <div class="media border-bottom border-dark mb-2 pb-2">
                              <img src="{{ post.user.others_info.image.url }}" alt="Generic placeholder image" class="img-fluid" style="width: 3em; height: 3em; border-radius: 100%;">
                              <div class="media-body" style="margin-left: -6.8em;">
                                <span class="post-user-username">{{ post.user.get_full_name }}</span> <br>
                                <span class="post-created">{{ post.created_at }}</span>
                              </div>
                            </div>
                            <p class="post-description">
                              {{ post.description }}
                            </p>
                            <div class="function border-bottom border-dark border">
                              <button class="btn">
                                <i class="fas fa-heart"></i>
                              </button>
                              <button class="btn">
                                <i class="fas fa-share-square"></i>
                              </button>
                            </div>
  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
    </section>
{% endblock context %}