{% extends "accounts/authenticated/base.html" %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'accounts/css/authenticated/styles.css' %}">
    <title>Akatsuki - {{ user.get_full_name }}</title>
{% endblock head_block %}

{% block context %}
    <script>
        var nome = document.getElementById('nav-perfil')
        nome.className += ' border-bottom border-danger'
    </script>
    <section class="mt-5" id="perfil">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-body">
                        <div class="d-flex justify-content-center border-bottom pb-3 mb-2">
                            <figure>
                                {% if user.others_info.image.url != "" %}
                                    <a class="nav-link" href="{% url 'accounts:user-detail' username=user.username pk=user.pk %}">
                                        <img src="{{ user.others_info.image.url }}" class="img-fluid" id="user-image">
                                    </a>
                                {% else %}
                                    <a href="{% url 'accounts:user-detail' username=user.username pk=user.pk %}" >
                                    <img src="{% static '' %}{{ user.others_info.avatar }}" class="img-fluid" id="user-image">
                                    </a>
                                {% endif %}
                                <figcaption>
                                    <i class="fas fa-camera"></i>
                                </figcaption>
                            </figure>
                        </div>
                        <div>
                            <h1>{{ user.get_full_name }}</h1>
                            <h2>@{{ user.username }}</h2>
                            <h3>E-mail: {{ user.email }}</h3>
                        </div>    
                        <div class="mt-5">
                            <a href="" class="btn btn-block btn-outline-danger">
                               <i class="fas fa-edit"></i> Editar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-title">
                            <h1 class="border-bottom p-2">Outras informações</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card text-center bg-primary text-white mb-3">
                                        <div class="card-body">
                                          <h3>Postagens</h3>
                                          <h1 class="display-4">
                                            <i class="fas fa-pencil"></i> {{ posts.count }}
                                          </h1>
                                          <a href="" class="btn btn-outline-light btn-sm">Ver</a>
                                        </div>
                                    </div>    
                                </div>

                                {# Seguidores #}
                                <div class="col-md-4">
                                    <div class="card text-center bg-warning text-white mb-3">
                                        <div class="card-body">
                                          <h3>Seguidores</h3>
                                          <h1 class="display-4"> 
                                            <i class="fas fa-users"></i> {{ user.others_info.qtd_following.count }}
                                          </h1>
                                          <a href="" class="btn btn-outline-light btn-sm">Ver</a>
                                        </div>
                                    </div>    
                                </div>

                                {# Seguindo #}
                                <div class="col-md-4">
                                    <div class="card text-center bg-success text-white mb-3">
                                        <div class="card-body">
                                          <h3>Seguindo</h3>
                                          <h1 class="display-4">
                                            <i class="fas fa-user"></i> {{ user.others_info.qtd_followers.count }}
                                          </h1>
                                          <a href="" class="btn btn-outline-light btn-sm">Ver</a>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock context %}